
/*****************
	Form Elements
*/

#{$all-text-inputs},
textarea {
	@extend %base-typeface; 
	@include transition (border 0.2s ease-in-out); 
-webkit-appearance: none;
		appearance: none;
	background: $white;
	border: 1px solid transparentize($base-colour, 0.7);
	border-radius: 0;
	color: $base-colour;
	display: block;
	font-size: em(18);
	margin: 0 0 1.5em;
	outline: none;
	padding: 9px 12px;
	width: 100%;
	
	@include placeholder {
		color: $base-colour;
	}
}

textarea {
	height: 5em;
	resize: none;
}

#{$all-text-inputs-focus},
textarea:focus { 
	border: 1px solid $base-colour;
}

input[type="submit"] {
	@extend .button;
	outline: none;
}
