
/********
	Main
*/

// Main layout

.wrapper {
	position: absolute;
	@include size(100% 100%);
}



// Navigation

.wrapper nav {
	@include position(absolute, 0px null null -250px);
	@include size(250px 100%);
	@include transition (all 0.3s ease-in-out);
	background: transparentize($navy, 0.6);
	padding: $container-padding $container-padding 0;
	z-index: 3;
	
	li {
		color: $green;
	}
}

.the-nav-is-open .wrapper nav{
	background: transparentize($navy, 0.1);
	left: 0px;
}


// Main content

.main-content-wrapper {
	height: 100%;
	z-index: 1;
}

a[data-navigation="open-navigation"] {
	@extend %ir; 
	@include position(absolute, $container-padding null null $container-padding);
	@include size(30px 30px);
	@include transition (background-color 0.3s ease-in-out, left 0.3s ease-in-out);
	background: url('../img/nav.png') 3px center no-repeat $navy;
	cursor: pointer;
	z-index: 2;
	
	&:hover {
		background-color: transparentize($navy, 0.3);
	}
}

// If hamburger has been pressed
.the-nav-is-open { 
	
	a[data-navigation="open-navigation"] {
		background-color: transparentize($navy, 0.3);
		background-position: -27px center;
		left: 270px;
		
		&:hover {
			background-color: transparentize($navy, 0);
		}
	}
	
	.bx-wrapper,
	footer {
		@include filter(blur(4px));
		@include transform(translate3d(150px, 0, 0));
	}
}



// Main Slider

.main-slider {
	@include clearfix;
	
	li {
		text-align: center;
	}
	
	li.green {
		background: $green;
	}
	
	li.red {
		background: $red;
	}
	
	li.navy {
		background: $navy;
	}
}

.bx-wrapper {
	@include transition (all 0.3s ease-in-out);
	height: 100%;
	position: relative;
}

.bx-controls {
	display: flex;
	display: -webkit-flex;
		justify-content: center;
-webkit-justify-content: center;
		align-items: center; 
-webkit-align-items: center;
}

.bx-pager {
	@include position(absolute, null null 20px null);
	@include clearfix;
}

.bx-pager-item {
	float: left;
	margin: 0 5px;
	
	a {
		@extend %ir;
		@include size(14px 14px);
		background: transparent;
		border: 3px solid transparentize($white, 0.7);
		border-radius: 7px;
	}
	
	a.active {
		border: 7px solid transparentize($white, 0.7);
	}
}

.bx-prev {
	@include position(absolute, 50% null null 20px);
}

.bx-next {
	@include position(absolute, 50% 20px null null);
}


div.main-content {
	padding: 0 $container-padding;
}

ul.reset {
	list-style: none;
	margin: 0;
	padding: 0;
}
