
header {
	padding: 50px $container-padding 0;

	h1 {
		margin: 0; 
		text-transform: uppercase;
	}

	.intro {
		@extend %light-heading-typeface;
		color: $heading-colour;
		font-size: em(36);
		margin: 0; 
	}

	.logo a {
		color: $heading-colour;
		display: block;
		height: 0px;
		width: 0px;
	}

	nav {
		padding-top: 20px;
	}

}