
/*******************
	Default Helpers
*/


// Helper mimxins

// Legacy support for inline-block in IE7 (maybe IE6)
@mixin inline-block {
	display: inline-block;
	vertical-align: baseline;
	zoom: 1;
	*display: inline;
	*vertical-align: auto;
}



// Text highlights 

::-moz-selection {
	background: $base-colour; 
	color: #ffffff; 
	text-shadow: none;
}

::selection {
	background: $base-colour; 
	color: #ffffff; 
	text-shadow: none;
}


// Helper Classes

.mobile {
	display: none;
}
 
.desktop {
	display: block;
}

.hidden {
	display: none !important; visibility: hidden;
}

.invisible {
	visibility: hidden;
}

.clearfix {
	*zoom: 1;

	&:before, 
	&:after {
		content: ""; 
		display: table; 
	}

	&:after {
		clear: both;
	}
}