@import "neat/neat-helpers"; 


/*****************
	Grid settings
*/

$grid-columns: 12;
$max-width: 1140px;


/***************
	Breakpoints
*/

$small: new-breakpoint(max-width 1025px 8);
$tablet: new-breakpoint(max-width 768px 6);
$mobile: new-breakpoint(max-width 480px 1);