
/*************
	Variables
*/



/* Colours */

$white: #ffffff;
$white-grey: #eeeeee;
$light-grey: #777777;
$grey: #333333;
$dark-grey: #111111;

$red: #dd4433;

$base-colour: $red;
$body-colour: $light-grey;
$heading-colour: $grey;
$background-colour: $white;



/* Margins */

$site-margin: 30px;



/* Typography - Typefaces */

/* Helvetica */

$open-sans: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, san-serif;

@mixin open-sans-regular {
	font-family: $open-sans;
	font-weight: 400;
}

@mixin open-sans-bold {
	font-family: $open-sans;
	font-weight: 700;
}


/* Typography - SASS selectors */

@mixin base-font {
	@include open-sans-regular;
}

@mixin heading-font {
	@include open-sans-bold;
}
