
body {
	@include base-font;
}

* {
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

p {
	@include base-font;
	color: $body-colour;
	font-size: em(18);
	line-height: 1.5;
	margin: 1em 0; 
}

p a {
	color: $base-colour;
}

h1, h2, h3, h4, h5, h6 {
	@include heading-font;
	color: $heading-colour;
	line-height: 1.2;
	margin: 1em 0 0.5em; 
	padding: 0;
	text-rendering: optimizeLegibility;
}

h1 {
	font-size: em(72); 
}

h2 {
	font-size: em(50);
}

h3 {
	font-size: em(36);
}

h4 {
	font-size: em(24);
}

h5 {
	font-size: em(18);
}

h6 {
	@include base-font;
	font-size: em(18);
}

ul {
	font-size: em(18);
	margin: 1em 0;
	
	li {
		@include base-font;
		color: $body-colour;
		line-height: 1;
		margin: 0 0 1em;
	}
}