

/*******************
	Colour settings
*/

/* Brand colours */

$white: #ffffff; 
$light-grey: #777777;
$grey: #333333;


$navy: #3f4854;
$darknavy: darken($navy, 0.2);
$lightnavy: lighten($navy, 0.2);

$red: #cc6263;
$green: #4ec29e;


/* SASS colour calls */

$base-colour: $navy;
$body-colour: $navy;
$heading-colour: $navy;
$background-colour: $green;





/*******************
	Website margins 
	& paddings
*/

/* Margins & Padding */

$site-margin: 30px;
$container-padding: 20px;
  



/***********************
	Typography settings
*/

// Bariol

@font-face {
    font-family: 'Bariol';
    src: url('../fonts/bariol_regular-webfont.eot');
    src: url('../fonts/bariol_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bariol_regular-webfont.woff') format('woff'),
         url('../fonts/bariol_regular-webfont.ttf') format('truetype'),
         url('../fonts/bariol_regular-webfont.svg#bariol_regularregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

$bariol: 'Bariol', 'Helvetica Neue', Helvetica, Arial, san-serif;


/* Lato */

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);



$lato: 'Lato', 'Helvetica Neue', Helvetica, Arial, san-serif;

 
/* Typography - SASS calls */

%default-typeface,
%base-typeface {
	font-family: $bariol;
	font-weight: 400;
}

%form-typeface {
	font-family: $bariol;
	font-weight: 400;
}

%heading-typeface {
	font-family: $bariol;
	font-weight: 700;
}

%light-heading-typeface {
	font-family: $bariol;
	font-weight: 400;
}



@import "options";
@import "functions";






