@if $bourbon-neat == true {
	@include media($mobile) {
		
		body {
			-webkit-text-size-adjust: none;
		}
		
		.mobile {
			display: block;
		}

		.desktop {
			display: none;
		}
		
		div.main-wrapper {
			
			article,
			aside {
				@include span-columns(1);
			}
			
		}

		.button {
			display: block;
			margin-bottom: 1em;
			text-align: center;
			width: 100%;
		}

		.button + .button {
			margin-left: 0;
		}
	}
}